:root{
    --red: solid 1px red;
    --cyan: solid 1px cyan;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: rgb(218, 219, 215);
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

        #headerTitle{
            font-size: 54px;
            font-weight: bold;
            text-shadow: 0 0 1px black, 0 0 22px cyan;
            margin: 30px auto 50px auto;
            user-select: none;
        }

    main{
        margin: 0 auto;
    }

        #calculator_Div{
            border-radius: 5%;
            margin: auto 0;
            box-shadow: 0 0 8px cyan inset;
            display: flex;
            flex-direction: column;
        } 

            #calculatorScreen_Div{
                height: 40%;  
                border-bottom: solid 3px rgba(0, 200, 200, 0.4);
                border-top-left-radius: 10%;
                border-top-right-radius: 10%;
                border-bottom-left-radius: 2%;
                border-bottom-right-radius: 2%;
                box-shadow: 0 2px 5px rgba(0, 100, 205, 0.5);
                display: flex;
                flex-direction: column;
                word-wrap: break-word;
                word-break: break-all;
            }

                #upperOperand_Div{
                    height: 75%;
                    position: relative;
                }

                    #upperOperand{
                        position: absolute;
                        bottom: 10px;
                        right: 43px;
                        padding: 5px;
                    }

                #lowerOperand_Div{
                    height: 25%;
                    padding: 20px 28px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                }
                    #totalTitle{
                        width: fit-content;
                    }

                    #lowerOperand{
                        width: fit-content;
                        font-size: 3em;
                        padding-right: 22px;
                    }

            #calculatorKeyboard_Div{
                text-shadow: 
                    0 0 1px black, 
                    0 0 10px rgba(0, 105, 205, 0.75);
                height: 60%;
                padding: 20px;
                display: grid;
                gap: 10px;
                user-select: none;
            }

                .keyBoardButton{
                    text-align: center;
                    font-size: 1.5em;
                    border: double 1px rgba(0, 205, 205, 0.5);
                    background-color: black;
                    background-image: radial-gradient(
                        rgba(65, 105, 225, 0.12),
                        rgba(65, 105, 225, 0.44)
                    );
                    padding: 5px 10px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }

                .keyBoardButton:hover{
                    cursor: pointer; 
                    box-shadow: 0 0 7px, 0 0 15px royalblue inset;
                    background-image: radial-gradient(
                         rgba(0, 255, 255, 0.35),
                         rgba(0, 255, 255, 0.60)
                     );
                     scale: 1.02;
                     transition: box-shadow 0.15s;
                 }

    footer {
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin: 35px auto 5px auto;
        font-size: 20px;
    }

        footer > p{
            position: relative;
            text-decoration: none;
        }

        a:link{
            text-decoration: none;
        }

        #github_Logo{
            position: absolute;
            height: 22px;
            right: -25px;
            transition: transform 0.3s ease-in-out;
        }

        #github_Logo:hover{
            transform: rotate(360deg) scale(1.2);
            color: rgba(0, 255, 255, 0.95);
        }

        